*{
    margin: 0rem;
    padding: 0rem;

}
body{
    margin: 0rem;
    padding: 0rem;
}
.box{
    background-color: lightcoral;
    border: 5px solid rgb(0, 117, 0);
    width: 45rem;
    padding: 20px;
    margin: 1rem;
    
    h1{
        padding: 1rem;
    }
    p{
        padding: 1rem ;
    }

    .image{
        width: 50%;
        cursor:pointer;
        margin-left: 1rem;
        background-color:rgba(0, 0, 0, 0.6);
    }
    a{
       
        padding: 1rem;
    }
}