*{
    margin: 0px;
    padding: 0px;
}
#container{
    background-image: url(../image/5.jpg) ;
    background-size: cover;
    background-position: center;
    height: 695px;

    .main_div{
        /* width: 100%; */
        /* display: flex; */
        background: rgba(0, 0, 0, 0.3);
        height: 679px;
        padding-top: 1rem;

        .card_id{
            display: flex;
            justify-content: space-around;

            h4{
                color: #eb3a3a;
                font-size: 1.5rem;
                margin-top: 2rem;
                margin-left: -22rem;
            }
            h6{
                color: #eb3a3a;
                margin-left: -25rem;
                font-size: 1.1rem;
            }
            
            div{
                
                img{
                    margin-left: -17rem;
                    width:30%;
                    height: 130%;
                    border-radius: 50%;
                }
            }
        }
        
        .cards{
            display: inline-block;
            margin-top: 10rem;
            width:30% ;
            padding: 1rem 0rem 0rem 0rem;
            background-color: rgba(0, 0, 0, 0.4);
            background: linear-gradient(to bottom, black, rgb(122, 119, 119), lightgray);
            margin: 1rem;
            border-radius: 10px;
            text-align: center;

            h1{
                text-align: left;
                margin: 2rem 0 0 1rem;
                font-size: 3rem;
                padding: 1rem;
                color: #eb3a3a ;
            }
            p{
                text-align: left;
                font-size:17px ;
                color: #af8c8c ;
                padding: 1rem 2rem; 
            }
            img{
                
                border-radius:10px ;
                width: 400px;
                height: 250px;
            }
            button{
                background-color: rgb(251, 0, 0);
                border-radius: 10px;
                border: 1px solid red;
                cursor: pointer;
                width:50%;
                padding: 4px;
                margin: 5px 0px;
            }
        }

    }
}