*{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0rem;
    font-family: sans-serif; 
    
}
#container{
    margin: 30px;
    margin-top: 0;
    background-color: hsl(214, 71%, 91%) ;
    display: flex;
    padding-top: 1rem;
    padding-left: 12rem;
    align-items: center;

    .first_heading{
        font-size: 2rem;
    }
    p{
        color: gray;
        margin-top: -7px;
    }
    .btn{
        background-color:hsl(232.03deg 73.56% 65.88%);
        outline: none;
        border-radius: 3px;
        width: 13rem;
        height: 2rem;
        color: #fff;    
        cursor: pointer;
}
   
.second_div{
    margin: 3rem;
    
    img{
        border-top: 2rem solid rgb(170, 164, 164);
        width: 27rem;
    }
}
}
#second_container{

    .second_div{
        text-align: center;
        margin-top: 8rem;
        height: 400px;
        padding-bottom: -1rem;

        p{
            color: gray;
        }
    }


    .main_div_second{
        display: flex;
       
        h1{
            color:hsl(232.03deg 73.56% 65.88%);
            margin: 2rem;
            padding-left: 8rem;
        }
        
        p{
            color: black;
            margin-top: -1rem;
            padding-left: 8rem;
            margin-bottom: 4rem;
        }
    }
}
#third_container{
    background-color: hsl(214, 71%, 91%);
    height: 500px;
    text-align: center;
    padding-top: 3rem; 
    margin-bottom: -4rem;


    h6{
        font-family: sans-serif !important   ;
        font-size:0.8rem;
        margin: 4px;
        color: hsl(232.03deg 73.56% 65.88%);
        padding: 1rem;
    }
    .last_heading{
        font-size: 2rem;
    }
    p{
        color: gray;
    }
    .last_main_div{
        display: flex;
        padding: 3rem;
        margin-left: 10rem;
       
        div{
            width: 20%;
            padding: 2rem;
            background-color: #fff;
        }
    }
}